<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digitalforce.datingapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    

    <permission
        android:name="com.javapapers.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDEXiG6vKr6HucJ8R7_WIlPdms4Yz46y_8" />
        <meta-data
            android:name="APP_NAME"
            android:value="com.digitalforce.datingapp" />

        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name="com.digitalforce.datingapp.view.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.digitalforce.datingapp.view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitalforce.datingapp.view.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitalforce.datingapp.view.ForgotpsswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitalforce.datingapp.view.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitalforce.datingapp.view.MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name="com.digitalforce.datingapp.view.MembersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitalforce.datingapp.view.FavouriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitalforce.datingapp.view.BuzzActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitalforce.datingapp.view.ChatActivity"
            android:screenOrientation="portrait" />
        <activity 
            android:name="com.digitalforce.datingapp.view.TermConditionActivity"
            android:screenOrientation="portrait"/>
       <activity 
            android:name="com.digitalforce.datingapp.view.UpdateProfileActivity"
            android:screenOrientation="portrait"/>
        <activity 
            android:name="com.digitalforce.datingapp.view.MatchActivity"
            android:screenOrientation="portrait"/>
        <activity 
            android:name="com.digitalforce.datingapp.view.settingActivity"
            android:screenOrientation="portrait"/>
        <activity 
            android:name="com.digitalforce.datingapp.view.MyPictureActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>