<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digitalforce.datingapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        <meta-data
            android:name="APP_NAME"
            android:value="com.digitalforce.datingapp" />

        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name="com.digitalforce.datingapp.view.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.digitalforce.datingapp.view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitalforce.datingapp.view.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitalforce.datingapp.view.ForgotpsswordActivity"
            android:screenOrientation="portrait" />
        <activity 
            android:name="com.digitalforce.datingapp.view.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity 
            android:name="com.digitalforce.datingapp.view.MenuActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>